* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  user-select: none;
}

:root {
  font-family: "Montserrat", sans-serif;
  
  letter-spacing: 0.0125rem;
  line-height: 1.25rem;

  --border-radius-small: 0.5rem;
  --standard-box-shadow: 0 0.25rem  0.375rem 0.1875rem rgba(0, 0, 0, 0.1);

}

body {
  min-width: 400px;
  background-color: hsl(172, 100%, 98%);
}

input {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.25rem;
  border: 0.125rem solid rgb(199, 199, 199);
  padding: 0.375rem;
  box-shadow: var(--standard-box-shadow);

  border-radius: 0.875rem;
  border-top: 0.125rem solid hsl(172, 10%, 90%);
  border-left: 0.1875rem solid hsl(172, 10%, 82%);
  border-right: 0.1875rem solid hsl(172, 10%, 82%);
  border-bottom: 0.25rem solid hsl(172, 10%, 75%);
}

button {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.25rem;
  border: 0.125rem solid rgb(199, 199, 199);
  padding: 0.375rem;
  box-shadow: var(--standard-box-shadow);

  min-width: 3rem;

  border-radius: 0.875rem;
  border-top: 0.125rem solid hsl(172, 10%, 90%);
  border-left: 0.1875rem solid hsl(172, 10%, 82%);
  border-right: 0.1875rem solid hsl(172, 10%, 82%);
  border-bottom: 0.25rem solid hsl(172, 10%, 75%);
}

.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1.25rem;
}

.form-item {
  display: grid;
}

.result-contents {
  max-width: 75%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
  gap: 1.25rem;
  margin: 1rem;
  grid-auto-rows: min-content;
}

.day {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.875rem;
  border-top: 0.1875rem solid hsl(172, 10%, 90%);
  border-left: 0.375rem solid hsl(172, 10%, 82%);
  border-right: 0.375rem solid hsl(172, 10%, 82%);
  border-bottom: 0.4375rem solid hsl(172, 10%, 75%);
  box-shadow: var(--standard-box-shadow);
  padding: 0.375rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem;
  padding-bottom: 1.75rem;
}

.day__date {
  font-weight: 600;
}

.day__icon {
  max-width: 6.5rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  border-top: 0.5rem solid hsl(0, 0%, 75%);
  border-bottom: 0.5rem solid hsl(0, 0%, 75%);
  
  box-shadow:  0px 0.1875rem 0.25rem  0.1875rem  rgba(0, 0, 0, 0.15);
  padding: 0.5rem 1rem;
}

.day__description{
  font-size: 0.75rem;
  height: 4.75rem;
}

.day__graphics {
  display: flex;
  justify-content:space-around;
  gap: 1.5rem;
  align-items: top;
}

.day__temps {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  font-size: 2rem;
  color: rgb(7, 39, 114);

}

.day__tempmax {
  
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.day__tempmin {

  font-weight: 300;
  display: flex;
  justify-content: center;
  

}
